body {
  background-color: #18453B;

}

table {
  width: 80%; 
  border-collapse: collapse;
  margin: 10px;
}

table,
th,
td {
  border: 2px solid black;
}

th,
td {
  padding: 5px;
  text-align: center;
  color: #FFFFFF;
}

th {
  background-color: #18453B;
}

tr:nth-child(odd) {
  background-color: #0B9A6D;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
  font-size: 25px;
}
