body {
  background-color: #18453b;
}

h1 {
  text-align: center;
  color: white;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

table,
th,
td {
  border: 2px solid black;
}

th,
td {
  padding: 5px;
  text-align: center;
  color: #ffffff;
}

th {
  background-color: #18453b;
}

tr:nth-child(odd) {
  background-color: #0b9a6d;
}

p {
  text-align: center;
  color: white;
  font-size: 25px;
}

#login-container
{
  text-align: center;
  color: white;
}

.blur {
  filter: blur(50px);
  pointer-events: none; /* Prevent interactions with blurred elements */
}
